#loginbg
{
  width:600px;
  height:369px;
  margin:130px auto;
  background-image:url(images/lgback.jpg);
}

#lgbox
{
   height:58px;
   width:167px;
   position:relative;
   left:415px;
   top:208px; 
   margin:0;
   padding:0;  
}

#lgbutton
{
   height:52px;
   width:163px;
   position:relative;
   left:390px;
   top:215px;
}

body
{
  width:900px;
  height:450px;
  margin:0 auto;
  }
